<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>JupiterBroadcasting</string>
	<key>Builder Version</key>
	<string>7536.26.14</string>
	<key>CFBundleDisplayName</key>
	<string>JBAR-Safari</string>
	<key>CFBundleIdentifier</key>
	<string>com.jupiterbroadcasting.jbar-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Jupiter Broadcasting Affiliate Redirect</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.amazon.com</string>
				<string>*.amazon.co.uk</string>
				<string>*.amazon.de</string>
				<string>*.audible.com</string>
				<string>*.mint.com</string>
				<string>*.bestbuy.com</string>
				<string>*.thinkgeek.com</string>
				<string>*.newegg.com</string>
				<string>*.newegg.ca</string>
				<string>*.guitarcenter.com</string>
				<string>www.ebay.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.jupiterbroadcasting.com</string>
</dict>
</plist>
